body {
  margin: 14px 17px;
  color: rgb(48, 57, 66);
}

.app-options__option {
  display: inline-flex;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
}

.app-options__label {
  display: block;
  margin-right: .6em;
  margin-left: .6em;
}
